h1 {
    font-family: 'Laila', serif;
    color: green;
    padding: 0px 0px 0px 10px;
}

h2{
  font-family: 'Playfair Display', serif;
  color: #010101;
  padding: 0px 0px 0px 10px;
}
.header {
    width: 1200px; 
    height: 75px;
    background-color: #202020;
    display:flex;
    justify-content: start;
}

body {
    width: 100%;
    background-color: #b7c9b3;
    
    }

#container {
  display: flex;
  justify-content: wrap;
}

#itemForm{
  font-family: 'Laila', serif;
  width:200px;
  padding: 12px 20px;
  margin: 8px 0;
 
}

#names{
  padding: 5px 10px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid grey;
  border-radius: 4px;
  background-color: #8abaae;
}

#value{
  padding: 5px 10px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid grey;
  border-radius: 4px;
  background-color: #8abaae;
}

#time_period{
  padding: 5px 10px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid grey;
  border-radius: 4px;
  background-color: #8abaae;
}

#origin{
  padding: 5px 10px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid grey;
  border-radius: 4px;
  background-color: #8abaae;
}

#button {
  background-color: green;
  border: none;
  color: white;
  padding: 8px 20px;
  font-family:'Laila', serif;
  border-radius: 10px;
  margin: 10px 8px;
}

#buy{
  background-color: green;
  border: none;
  color: white;
  padding: 8px 20px;
  font-family:'Laila', serif;
  border-radius: 10px;
  margin: 10px 8px;
  display:flex;
  justify-content: center;
  
}

#thank_you{
  background-color: green;
  border: none;
  color: white;
  padding: 8px 20px;
  font-family:'Laila', serif;
  border-radius: 10px;
  margin: 10px 8px;
  display:flex;
  justify-content: center;
}

.Earth {
 width: 25%;
 height: 75px;
 object-fit: cover;
}

.title {
    position: relative;
    top: -10px;
    left: -200px;
} 


ul {
    font-family: 'Playfair Display', serif;
    list-style-type: none;
}

.scene {
    width: 200px;
    height: 260px;
    border: 3px solid black;
    margin: 40px 0;
    perspective: 600px;
  }
  
  .card {
    width: 100%;
    height: 100%;
    transition: transform 1s;
    transform-style: preserve-3d;
    cursor: pointer;
    position: relative;
  }
  
  .card.is-flipped {
    transform: rotateY(180deg);
  }
  
  .card__face {
    position: absolute;
    width: 100%;
    height: 100%;
    line-height: 25px;
    color: white;
    text-shadow: 2px 2px 2px #000000;
    text-align: center;
    font-weight: normal;
    font-size: 22px;
    font-family: 'Playfair Display', serif;
    backface-visibility: hidden;
  }
  
  .card__face--front {
    background:darkgray;
  }
  
  .card__face--back {
    background:black;
    transform: rotateY(180deg);
  }
  
  #img {
    width: 100%;
    height: 260px;
    object-fit: cover;
  }

  #name {
    width: 100%;
    position: relative;
    margin-top: -85px;
  }

  #info {
    width: 100%;
    position: relative;
    margin-top: 80px;
  }

  